# WhatsApp Business API (Meta Cloud API)
# Get from: https://developers.facebook.com/apps/{app_id}/whatsapp-business/wa-dev-console
WA_PHONE_NUMBER_ID=
WA_ACCESS_TOKEN=
WA_VERIFY_TOKEN=my_webhook_verify_token
WA_API_VERSION=v21.0
